<head>
  <meta charset="utf-8">
  <title></title>
</head>
<nav>
  <a href="/">Home</a>
  <a href="/people">People</a>
  <a href="/agendas">Agendas</a>
  <a href="/sport_lists">Sport Lists</a>
  <a href="/logout" onclick="return confirm (`Are you sure wanna logout bro?`)">Logout</a>
</nav>
