<head>
  <meta charset="utf-8">
  <title></title>
</head>
<nav>
  <a href="/">Home</a>
  <a href="/peoples">Peoples</a>
  <a href="/agendas">Agendas</a>
  <a href="/sport_lists">Sport Lists</a>
</nav>
