<head>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script type="text/javascript">
    $(document).ready(function() {
      $('select').material_select();
    });
  </script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.css" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <meta charset="utf-8">
  <title></title>
</head>
<nav>
  <div class="nav-wrapper teal lighten-2">
    <ul>
      <li><a class="blue lighten-2" href="/events">Home</a> </li>
    </ul>
    <ul id="nav-mobile" class="right">
      <li class="waves-effect"><a class="green lighten-2" href="/logout" onclick="return confirm (`Are you sure wanna logout bro?`)">Logout</a></li>
    </ul>
  </div>
</nav>
