<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Sports Hub</title>
  </head>
  <body>
    <h1>Welcome to Sport's Hub</h1>
    <h3>Please login / sign up first</h3>
    <form action="/login" method="post">
      <label for="email">Email : </label>
      <input type="email" name="email" value="" placeholder="" required><br>
      <label for="password">Password : </label>
      <input type="password" name="password" value="" placeholder="" required><br>
      <input type="submit" name="" value="submit">
    </form>
    <br>
    <a href="/signUp"> Sign Up </a>
  </body>
</html>
