<!DOCTYPE html>
<html>
  <head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <meta charset="utf-8">
    <title>Sports Hub</title>
  </head>
  <body>
    <% include ./partials/container %>
    <h1 class="subtitle is-3 light-blue-text">Welcome to <span class="title is-1 light-blue white-text text-darken-2">FUADHI's</span> Sports Hub </h1>
    <h3 class="subtitle is-5 light-blue-text">Please login / <a class="green-text" href="/signUp">sign up</a> first</h3>
    <% include ./partials/error %>
    <div class="row">
      <form class="col s12" action="/login" method="post">
        <div class="row">
          <div class="input-field col s6">
            <input name="email" placeholder="Email" id="first_name" type="email" class="validate">
            <label for="first_name">Email</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s6">
            <input name="password" placeholder="Password" id="first_name" type="password" class="validate">
            <label for="first_name">Password</label>
          </div>
        </div>
          <input class="button is-primary" type="submit" name="" value="submit">
      </form>
    </div>
  </div>
  </body>
</html>
