<!DOCTYPE html>
<html>
  <body>
    <h1>Register</h1>
    <form action="/signUp" method="post">
      <label for="email">Email : </label>
      <input type="email" name="email" value="" placeholder="Email"><br>
      <label for="name">Password : </label>
      <input type="password" name="password" value="" placeholder="Password"><br>
      <label for="name">Name : </label>
      <input type="text" name="name" value="" placeholder="Name"><br>
      <label for="location">Location : </label>
      <input type="text" name="location" value="" placeholder="Location"><br>
      <label for="sport_interest">Sport Interest : </label>
      <input type="text" name="sport_interest" value="" placeholder="Sport Interest"><br>
      <label for="phone">Phone : </label>
      <input type="text" name="phone" value="" placeholder="phone"><br>
      <input type="submit" name="" value="register">
    </form>
  </body>
</html>
