<!DOCTYPE html>
<html>
  <% include ./partials/head %>
  <body>
    <% include ./partials/container %>
    <h1>Add Sport</h1>
    <% include ./partials/error %>
    <form action="/sport_lists/add" method="post">
      <label for="name">Sport's Name : </label>
      <input type="text" name="name" value="" placeholder="">
      <input type="submit" name="" value="submit">
    </form>
  </div>
  </body>
</html>
